@charset"UTF-8";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: antiquewhite;
}



.conteiner {
  display: flex;
  margin: 10px;
  border: 4px solid rgb(9, 9, 9);
  height: 100%vh;
  width: 100%vw;
  flex-direction: row;
  background-color: #173175;
  border-radius: 10px;
  align-items: center;
  justify-content: center;



}

.logo-1 {
  width: 73px;
  position: absolute;
  margin-top: -92px;
  margin-left: 35px;
  border-radius: 5px;
}

.logo-2 {
  width: 100px;
  border-radius: 8px;
}

.img-insta {
  margin-left: 300px;
  position: absolute;
  margin-top: -90px;
  width: 42px;
}

.button-insta {
  margin-left: 289px;
  position: absolute;
  margin-top: -40px;
  width: 65px;
  height: 18px;
  font-size: 13px;
  border-radius: 3px;
  border: none;
  color: black;
  background-color: antiquewhite;

}

a {
  text-decoration: none;
  color: black;
}

.conteiner-2 {
  display: flex;
  margin: 10px;
  border: 2px solid rgb(9, 9, 9);
  height: 100%vh;
  width: 100%vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.img-1 {
  width: 230px;
  border-radius: 10px;
}

p {
  font-size: 17px;
}

aside {
  width: 200px;
  background-color: rgb(198, 184, 184);
  border-radius: 8px;
}

li {
  font-size: 18px;
}


#prev-button {
  width: 50px;
}

#next-button {
  width: 50px;
}


.conteiner-slider {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border-radius: 10px;
 
}

.conteiner-images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 357px;
  top: -220px;

 
}


.slider {
  opacity: 0;
  transition: opacity.2s;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}

.slide-on {
  width: 200px;
  border-radius: 20px;
}


.on {
  opacity: 1;
}

#prev-button {
  width: 38px;
  height: 38px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: -480px;
}

#next-button {
  width: 38px;
  height: 38px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top:-480px;
}

#prev-button img,
#next-button img {
  width: 100%;
  height: 100%;
}

#prev-button {
  transform: rotate(180deg);
}











/*html


 <div class="conteiner-slider">
    <button id="prev-button">
      <img src="assets/arrow.png" alt="prev-button" />
    </button>


    <div class="conteiner-images">
      <img src="assets/WhatsApp Image 2024-06-28 at 19.27.43.jpeg" alt="" class="slider" />
      <video controls src="assets/WhatsApp Video 2024-07-21 at 17.53.37.mp4" class="slider on"
        poster="assets/WhatsApp Image 2024-07-21 at 17.15.35.jpeg"></video>
    </div>





    <button id="next-button">
      <img src="assets/arrow.png" alt="next-button" />
    </button>
  </div>




  css


  .conteiner-slider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
  }

  .conteiner-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 357px;
    top: 360px;
  }

  .slider {
    opacity: 0;
    transition: opacity.2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
  }

  .on {
    opacity: 1;
  }

  #prev-button {
    width: 38px;
    height: 38px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 650px;
  }

  #next-button {
    width: 38px;
    height: 38px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 650px;
  }

  #prev-button img,
  #next-button img {
    width: 100%;
    height: 100%;
  }

  #prev-button {
    transform: rotate(180deg);
  }