@charset"UTF-8";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: antiquewhite;
}



.conteiner-1 {
  height: 100%;
  background-color: #173175;
  box-shadow: 0px 7px 7px rgb(19, 19, 18);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.logo-1{
width: 75px;
position: absolute;
margin-left: -270px;
border-radius: 12px;
}

.logo-2{
  width: 100px;
  border-radius: 12px;
}


.conteiner-loja {
  margin: 10px;
  border: 1px solid antiquewhite;
  display: flex;
  height: 100%vh;
  width: 100%vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.img-loja {
  width: 300px;
  border-radius: 12px;
}

.p-loja {
  font-size: 17px;
}

.conteiner-aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(176, 168, 168);
  width: 250px;
  border-radius: 10px;
  font-size: 17px;
}

.lista {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(176, 168, 168);
  width: 250px;
  border-radius: 10px;
  font-size: 17px;
}